{%extends "layout.html"%}
{%block content%}
<div class="home">
    <h1>Champions League Finals in the las 10 years</h1>
    <p>
        <li>2010–11	 ESP	Barcelona	3–1	 ENG	Manchester United	Wembley Stadium, London, England	87,695</li>
<li>2011–12	 ENG	Chelsea	1–1*[l]	 GER	Bayern Munich	Allianz Arena, Munich, Germany	62,500</li>
<li>2012–13	 GER	Bayern Munich	2–1	 GER	Borussia Dortmund	Wembley Stadium, London, England	86,298</li>
<li>2013–14	 ESP	Real Madrid	4–1dagger	 ESP	Atlético Madrid	Estádio da Luz, Lisbon, Portugal	60,976</li>
<li>2014–15	 ESP	Barcelona	3–1	 ITA	Juventus	Olympiastadion, Berlin, Germany	70,442</li>
<li>2015–16	 ESP	Real Madrid	1–1*[m]	 ESP	Atlético Madrid	San Siro, Milan, Italy	71,942</li>
<li>2016–17	 ESP	Real Madrid	4–1	 ITA	Juventus	Millennium Stadium, Cardiff, Wales	65,842</li>
<li>2017–18	 ESP	Real Madrid	3–1	 ENG	Liverpool	NSC Olimpiyskiy Stadium, Kyiv, Ukraine	61,561</li>
<li>2018–19	 ENG	Liverpool	2–0	 ENG	Tottenham Hotspur	Metropolitano Stadium, Madrid, Spain	63,272</li>
<li>2019–20	 GER	Bayern Munich	1–0	 FRA	Paris Saint-Germain	Estádio da Luz, Lisbon, Portugal	0</li>
    </p>
</div>
{%endblock%}
