{%extends "layout.html"%}
{%block content%}
<div class="home">
    <h1>Champions League Finals in the last 10 years</h1>
    <table>
<tr><td>Season</td><td>Teams</td><td>Score</td><td>Teams</td><td>Venue</td><td>Attendance</td></tr>
<tr><td></td></tr>
<tr><td>2010–11</td><td>ESP Barcelona</td><td>3–1</td><td>ENG	Manchester United</td><td>Wembley Stadium, London, England</td><td>87,695</td></tr>
<tr><td></td></tr>
<tr><td>2011–12</td><td>ENG Chelsea</td><td>1–1'p'</td><td>GER	Bayern Munich</td><td>Allianz Arena, Munich, Germany</td><td>62,500</td></tr>
<tr><td></td></tr>
<tr><td>2012–13</td><td>GER Bayern Munich</td><td>2–1</td><td>GER	Borussia Dortmund</td><td>Wembley Stadium, London, England</td><td>86,298</td></tr>
<tr><td></td></tr>
<tr><td>2013–14</td><td>ESP Real Madrid</td><td>4–1dagger</td><td>ESP Atlético Madrid</td><td>Estádio da Luz, Lisbon, Portugal</td><td>60,976</td></tr>
<tr><td></td></tr>
<tr><td>2014–15</td><td>ESP Barcelona</td><td>3–1</td><td>ITA Juventus</td><td>Olympiastadion, Berlin, Germany</td><td>70,442</td></tr>
<tr><td></td></tr>
<tr><td>2015–16</td><td>ESP Real Madrid</td><td>1–1'p'</td><td>ESP Atlético Madrid</td><td>San Siro, Milan, Italy</td><td>71,942</td></tr>
<tr><td></td></tr>
<tr><td>2016–17</td><td>ESP Real Madrid</td><td>4–1</td><td>ITA	Juventus</td><td>Millennium Stadium, Cardiff, Wales</td><td>65,842</td></tr>
<tr><td></td></tr>
<tr><td>2017–18</td><td>ESP Real Madrid</td><td>3–1</td><td>ENG	Liverpool</td><td>NSC Olimpiyskiy Stadium, Kyiv, Ukraine</td><td>61,561</td></tr>
<tr><td></td></tr>
<tr><td>2018–19</td><td>ENG Liverpool</td><td>2–0</td><td>ENG Tottenham Hotspur</td><td>Metropolitano Stadium, Madrid, Spain</td><td>63,272</td></tr>
<tr><td></td></tr>
<tr><td>2019–20</td><td>GER Bayern Munich</td><td>1–0</td><td>FRA Paris Saint-Germain</td><td>Estádio da Luz, Lisbon, Portugal</td><td>No attendance due to covid</td></tr>
</table>
</div>
{%endblock%}
